<body>

    <div id="booking" class="section">
        <div class="section-center">
            <div class="booking-form">
    
            <h4> Ticket Price: </h4>
             <div class="temporal"> 
                <p class="divp">
                    {{priceTemporal}} din
                 </p>
                 
                 
                 <form [formGroup]="reservationUserForm" (submit)="onSubmit()" novalidate>
        
                    <div class="group">
                        <h4>Tickets left <b style="color:red">{{capacity}}</b></h4>
                        <h6>VIP Tickets left <b style="color:rgb(255, 0, 85)">{{capacityVIP}}</b></h6>
                        <h6>Regular Tickets left <b style="color:rgb(255, 0, 170)">{{capacityRegular}}</b></h6>
                        <h6>FunPit Tickets left <b style="color:rgb(255, 0, 76)">{{capacityFunPit}}</b></h6>
                    </div>

                        
                        <div class="group">
                        <span class="span-input">How many tickets:</span>
                        <input type="number" min="1" onKeyDown="return false" [max]="capacity" class="form-control" name="noTickets" id="noTickets" formControlName="noTickets">
                        
                        <span *ngIf="reservationUserForm.controls.noTickets.touched">
                            <small *ngIf="reservationUserForm.controls.noTickets.errors?.required">
                                    <div class="attent">
                                            How many tickets is required!
                                    </div>
                            </small>
                        </span>
                        </div>
                
                        
                        <div class="group">
                            <span class="form-label">Type: </span>
                            <input type="radio" name="Type" id="Type" (click)="onRegular()" formControlName="Type" value="Regular"/> Regular
                            <input type="radio" name="Type" id="Type" (click)="onFunPit()" formControlName="Type" value="FunPit"/> Fun Pit
                            <input type="radio" name="Type" id="Type" (click)="onVIP()" formControlName="Type" value="VIP"/> VIP

                            <div *ngIf="reservationUserForm.controls.Type.touched">
                                <div class="attent" *ngIf="reservationUserForm.controls.Type.errors?.required">
                                      You need to put the Type of the ticket!
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-btn">
                            <button class="btn btn-info" type="submit"  [disabled]="reservationUserForm.invalid"> Reserve
                            </button>
                        </div>    
                 </form>
              </div>
         </div>
    </div>
 </div> 
</body>
