<div class="containter">
     
  <input type="text" placeholder="Filter by Type" id="Type" [(ngModel)]="Type">
  <input type="text" placeholder="Filter by Status" id="Status" [(ngModel)]="Status">

    <table class="table table-hover table-sm ">
     <thead>
       <tr>
         <th scope="col">Event: </th>
         <th scope="col">DateTime:</th>
         <th scope="col">Price: </th>
         <th scope="col">Buyer: </th>
         <th scope="col">Status: </th>
         <th scope="col">Type: </th>
         <th scope="col">IsActive: </th>
       </tr>
     </thead>
 
     <tbody class="table table-hover table-sm " *ngFor="let ticket of tickets | ticketFilter:Type:Status ">
         <tr>
             <td>{{ticket.ManifestationId}}</td>
             <td>{{ticket.EventTime}}</td>
             <td>{{ticket.Price}}</td>
             <td>{{ticket.Buyer}}</td>
             <td>{{ticket.Status}}</td>
             <td>{{ticket.Type}}</td>
             <td>{{ticket.IsActive}}</td>
             
             <button class="btn btn-info" *ngIf="isAdmin() && ticket.IsActive==true" (click)="Delete(ticket)"> Delete Ticket</button>

             <button class="btn btn-info" *ngIf="isBuyer() && ticket.Status=='Reserved' && checkWithdrawButton(ticket)" (click)="onWithdraw(ticket)" > Withdraw! </button>
       </tr>
     
     
     </tbody>
   </table>
</div>


