<body>

                
      <hr>
      <div class="row" *ngFor="let event of allEvents">
        <div class="col-3" >

            <div class="my-list">
            <img width="300" height="200" src={{event.FrontPicture}} alt=""/>   
                <h6 >Name: <b style="font-size: large;">{{event.Name}}</b> </h6>
                <div class="detail" (click)="ViewEvent(event.Id,event)">
                    <h5> Click for more info </h5>
                </div>
            </div>
        </div>
      </div>
     
</body>
