<div *ngIf="isAdmin()">

    <input type="text" placeholder="Filter by Type" id="Type" [(ngModel)]="Type">
    <input type="text" placeholder="Filter by Role" id="Role" [(ngModel)]="Role">

    <span class="form-label">Sort by: </span>
     <input type="radio" name="Name" id="Name" [(ngModel)]="Sort" value="Name"/> Name
     <input type="radio" name="Surname" id="Surname" [(ngModel)]="Sort" value="Surname"/> Surname
     <input type="radio" name="Username" id="Username" [(ngModel)]="Sort" value="Username"/> Username
     <input type="radio" name="Points" id="Points" [(ngModel)]="Sort" value="Points"/> Points

     <span class="form-label">Reverse Sort by: </span>
     <input type="radio" name="RevName" id="RevName" [(ngModel)]="Sort" value="RevName"/> RevName
     <input type="radio" name="RevSurname" id="RevSurname" [(ngModel)]="Sort" value="RevSurname"/> RevSurname
     <input type="radio" name="RevUsername" id="RevUsername" [(ngModel)]="Sort" value="RevUsername"/> RevUsername
     <input type="radio" name="RevPoints" id="RevPoints" [(ngModel)]="Sort" value="RevPoints"/> RevPoints
    
</div>

<div class="containter">
     
      <table class="table table-hover table-sm ">
       <thead>
         <tr>
           <th scope="col">Name</th>
           <th scope="col">Last name</th>
           <th scope="col">Username</th>
           <th scope="col">Gender</th>
           <th scope="col">Role</th>
           <th scope="col">Type </th>
           <th scope="col">IsActive</th>
           <th scope="col">IsBlocked</th>
           <th scope="col">Points</th>
           
         </tr>
       </thead>
   
       <tbody class="table table-hover table-sm " *ngFor="let user of users | userFilter:Role:Type | userSort:Sort">
           <tr>
               <td>{{user.Name}}</td>
               <td>{{user.Surname}}</td>
               <td>{{user.Username}}</td>
               <td>{{user.Gender}}</td>
               <td>{{user.Role}}</td>
               <td>{{user.Type}}</td>
               <td>{{user.IsActive}}</td>
               <td>{{user.IsBlocked}}</td>
               <td>{{user.Points}}</td>
               <div *ngIf="isSuspitious(user) && isAdmin()">
                  <td  style="color: red;">Suspitous</td>
              </div>

                
                 <td *ngIf="isAdmin() && user.Role != 'Admin' && user.IsBlocked==false" ><button class="btn btn-info" (click)="Block(user)">Block</button></td> 
                 <td *ngIf="isAdmin() && user.IsActive==true && user.Role!='Admin'"><button class="btn btn-info" (click)="Remove(user)">Remove user</button></td> 
                
           </tr>   
       </tbody>         
     </table>
</div>
