.topnav {
    background-color: #333;
    overflow: hidden;
    position:fixed;
    width:100%
  }

  .topnav button {
    float: right;
    padding: 0;
    border: none;
    background: none;
    color:white;
    text-align: center;
    padding: 10px 8px;
    text-decoration: none;
    font-size: 15px;
  }

  .topnav button .back
  {
  	padding: 0;
	  border: none;
	  background: none;
	  color:white;
    text-align: center;
    padding: 10px 8px;
    text-decoration: none;
    font-size: 15px;
  }